body{
    margin: auto;
    margin-top: auto;
    margin-left: 10px;
    display: blocks;

    
}

header{
    background-image: url('../img/pattern.png');
    background-color: cornflowerblue;
    background-size: 400px;
}

.inevi{
    background-color: yellow;
}

.thead{
    background-color: blue;
    background-size: cover;
}
.blue{
    background-color: cyan;
}
.white{
    background-color: white;
}
.loremm{
     position: absolute;
     top: 2px;
     left: 10px;
     color: white;
}
.prop{
    margin: 3%;
    position: relative;
    
}